.post-comment-list .single-post-comment {
  margin: 25px 50px;
}

.post-comment-list .author-name{
  font-size: 16px;
  margin-bottom: 6px;
  color: #757575;
}

.post-comment-list .single-post-comment .comment-text {
  margin: 0 5px;
}

.add-comment-button {
  color: #FFF;
  background: #03A9F4;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 1000px;
  text-align: center;
  align-self: center;
  margin: 20px auto;
  display: table;
}
